<html>
	<head>
	    {% if title %}
	    <title>{{ title }} - Fontes</title>
	    {% else %}
	    <title>Fontes</title>
	    {% endif %}
		<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/bower_components/bootstrap-material-design/dist/css/material-wfont.min.css" rel="stylesheet">
		<link href="/static/bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
  	</head>
  	<body>
  		<div class="container">

		    <div class="navbar navbar-inverse">
			    <div class="navbar-header">
			        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
			        <a class="navbar-brand" href="{{ url_for('index') }}">Base de Fontes</a>
			    </div>
			    <div class="navbar-collapse collapse navbar-inverse-collapse">
			        <ul class="nav navbar-nav">
			            <li {% if request.path == '/index' %}class="active"{% endif %}><a href="{{ url_for('index') }}">Fontes</a></li>
			            <li {% if request.path == '/source' %}class="active"{% endif %}><a href="{{ url_for('source') }}">Nova Fonte</a></li>
			            <li {% if request.path == '/register' %}class="active"{% endif %}><a href="{{ url_for('register') }}">Novo Usuário</a></li>
			            <li><a href="{{ url_for('logout') }}">Sair</a></li>
			        </ul>
			    </div>
			</div>

			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<div class="alert alert-dismissable alert-default">
					    <button type="button" class="close" data-dismiss="alert">×</button>
						{% for message in messages %}
						    {{ message }} <br>
						{% endfor %}
					</div>
				{% endif %}
		    {% endwith %}
		    
		    {% block content %}{% endblock %}
		</div>

		<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="/static/bower_components/bootstrap-material-design/dist/js/material.js"></script>
		<script src="/static/bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
		<script>
	      	$.material.init();
	    </script>
  	</body>
</html>