{% extends "base.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

<div class="well bs-component">
    <form action="" method="post" name="register" class="form-horizontal">
    	{{ form.hidden_tag() }}
        <fieldset>
            <legend>{{ title }}</legend>
    		{{ render_field(form.username) }}
    		{{ render_field(form.password) }}
    		{{ render_field(form.confirm) }}
        <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Criar</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}